@media screen and (max-width: 450px){@viewport{width: 300px;}}
@media screen and (min-width: 768px) and (max-width: 959px) { @viewport { width: 768px; } }

html{
    scroll-behavior: smooth;}

.container{margin-bottom: 35px;}

.center{text-align:center;}

.gap{margin-top: 50px;}
.gap1{margin-top: 15px;}

.separator{margin-top: 60px; margin-bottom: 60px;}
.separator1{margin-top: 30px; margin-bottom: 30px;}

.separator-top{margin-top: 60px;}

.separator-bottom{margin-bottom: 60px;}
.separator-bottom1{margin-bottom: 30px;}

.margin-default{margin: auto;}

.div-separator{width: 100px; border-bottom-color: #51dfff; border-bottom-style: solid; border-bottom-width: 3px; margin-left: auto; margin-right: auto;}

/* Login/Register/FoodForm CSS */
.login-container{
    /* background:linear-gradient(0deg, #ffa5514d, #7fff51a1), url("images/desk13.jpg"); */
    background-image: url("../images/foodbg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;}

input .border-remove{border: 0px solid white;}


/* Home CSS */
/* Welcome Section */
/* .welcome-container{margin-top: 60px;} */
.welcome-container{
    /* background:linear-gradient(0deg, #ffa5514d, #7fff51a1), url("images/desk13.jpg"); */
    background-image: url('../images/foodbg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 570px;}
.position{margin-left: auto; margin-right: auto;}
.welcome-title{font-weight: bolder;font-size: 38px; letter-spacing: 1.5px; color:#fff; text-transform: uppercase;}
.welcome-subtitle{color: white; font-size: 16px; margin-top: 15px;}

.image-size{width: 200px; border-radius: 100%;}

/* Product Section*/
.product-title{text-transform: uppercase; font-weight: 700;}

/* Footer */
.footer-title{text-transform: uppercase;}
.footer-font{background-color:#333; color: white; }
    .footer-underline{width: 95px; border-bottom-color: #51dfff; border-bottom-style: solid; border-bottom-width: 3px;}
    .footer-underline1{width: 130px; border-bottom-color: #51dfff; border-bottom-style: solid; border-bottom-width: 3px;}
    .footer-title{font-size: 14px; margin-bottom: 0;}
        .footer-menu li{font: 10px; color: white; list-style: none;}
    .footer-desc{font-size: 12px; }
    .highlight{color:#51dfff;}
.inline-padding{padding-inline-start: 0;}
.navigation{margin-right: 70px; margin-left: 20px;}
/* .opening-hour{margin-right: 70px;} */


/* Menu CSS */
.menu-container{
    /* background:linear-gradient(0deg, #ffa5514d, #7fff51a1), url("images/desk13.jpg"); */
    background-image: url('../images/foodbg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-bottom: 50px;}

.foodname{font-weight: 700; margin-top: 10px;}
.foodImage{border-radius: 25px;}

/* History CSS */
.history-container{
    background-image: url('../images/foodbg-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-bottom: 50px;}

.history{width: 100%; border-collapse: collapse;}